# dependencies
node_modules/

# build output
dist/
build/

# OS & editor files
.DS_Store
.vscode/
*.log 

# Ignore these other project folders
BasicVite/
CounterUsingReact/
TailwindProps/
customReact/
